* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background: rgb(60, 58, 58);
  padding: 10px 15px;
  color: #cacaca;
}

.container {
  display: flex;
  gap: 4rem;
  padding: 2rem;
}

table {
  border-collapse: collapse;
}

 
th {
  background: #cacaca;
}

td,
th {
  border: 1px solid black;
  padding: 8px;
}

tbody td input {
  border: none;
  outline: none;
  background: #cacaca;
  padding: 8px 4px;
  border-radius: 4px;
  width: 100%;
}

tbody td input:focus {
  background: white;
  border: #cacaca;
}

.action button {
  border: none;
  margin: 2px;
  outline: none;
  padding: 4px;
  color:white;
  background: black;
  cursor: pointer;
  border-radius: 4px;
  transition: .3s;
}

.action button:hover {
  background-color: white;
  color: black;
  border:1px solid black;
}


@media screen and (max-width : 900px) {
  .container {
    flex-direction: column;
  }
  
}