* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background: rgb(60, 58, 58);
  padding: 10px 15px;
  color: #cacaca;
}

.container {
  display: flex;
  gap: 4rem;
  padding: 2rem;
}

table {
  border-collapse: collapse;
}

td,
th,
tr {
}

th {
  background: #cacaca;
}

td,
th {
  border: 1px solid black;
  padding: 8px;
}

tbody td input {
  border: none;
  outline: none;
  background: #cacaca;
  padding: 8px 4px;
  border-radius: 4px;
  width: 100%;
}

.action button {
  border: none;
  outline: none;
  padding: 5px;
  color: blue;
  background: transparent;
  cursor: pointer;
}


@media screen and (max-width : 900px) {
  .container {
    flex-direction: column;
  }
  
}